<div style="height: 40px;"></div>
<div style="font-family: 'Roboto', sans-serif; font-weight: bold; color: #073763;"><hr />
<h1 style="font-size: 18px; margin: 2px;">EKINDY NDAME Thomas</h1>
<div style="height: 10px;"></div>
<div>Second year student at ISIMA, computer engineering school</div>
<div>Specialized in Embedded Systems and Virtual Reality</div>
<div style="height: 10px;"></div>
<div style="height: 6px;">&nbsp;</div>
<div>Mail: <a href="mailto:Thomas.EKINDY_NDAME@etu.uca.fr">Thomas.EKINDY_NDAME@etu.uca.fr</a></div>
<div>Phone: <a href="callto:+33 (0)6 67 47 16 38">+33 (0)6 67 47 16 38</a></div>
<div>Linkedin: <a href="https://www.linkedin.com/in/thomas-ekindy-ndame-067240155/">Thomas EKINDY NDAME</a></div>
<ul style="list-style: none; margin: 6px; padding: 0px;"></ul>
<div style="clear: both; height: 20px;"></div>
</div>
<hr />
